{% extends 'app/base.html' %}
{% load static %}
{% block title %}Check Out{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row mt-5">
  <div class="col-sm-6">
    <h4>Order Summary</h4>
    <hr>
      <div class="card mb-2">
        <div class="card-body">
          
          {% for item in cartitems %}

          <h5>Product: {{item.product}}</h5>
         
          <p> Quantity: {{item.quantity}}</p>

          <p class="fw-bold"> Price: {{item.total_cost}}</p>
           
          {% endfor %}
            
         



          <p class="fw-bold">Price <small>(includes shipping fee of rs.70)</small> : Rs. {{total}}</p>
        </div>
      </div>
    <small>Terms and Conditions Apply</small>
  </div>
  <div class="col-sm-4 offset-sm-1">
    <h5>Default address can can be changed from your <a class="fw-bold" style="text-decoration: none;" href="{% url 'profile' %}">Profile</a></h5>
    <hr>  
    <form action="/paymentdone">
      {% csrf_token %}

      {% for ad in address %}

      
      {% if ad.adefault == 'Yes' %}
        
      
        
      
      <div class="card">
        <div class="card-body">
        <h5>{{ad.name}}</h5>
        <input type="hidden" value="{{ad.id}}" id="ad_id" name="ad_id">
        <p>Name     - {{ad.name}}</p>     
        <p>Landmark - {{ad.landmark}}</p> 
        <p>Place    - {{ad.place}}</p>   
        <p>Zip      - {{ad.zipcode}}</p>   
        <p>State    - {{ad.state}}</p>   

        </div>
      </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio" value="">
          <label class="form-check-label fw-bold" for="">
            Default Address </label>
        </div>
        <div class="text-end">
          <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button>
        </div>
        {% endif %}

        {% endfor %}

      </form>
    </div>
  </div>
</div>




{% endblock main-content %}