{% extends 'app/base.html' %}
{% load static %}

{% block title %}


{% if request.path == '/passwordchange/' %}

Change Password
    
{% endif %}



{% if request.path == '/passwordchangedone/' %}
    Change password done
{% endif %}
    
    
   
{% endblock title %}

{% block main-content %}



<div class="container my-5">
    <div class="row">

        
        {% if request.path == '/passwordchange/' %}

        <h3>Welcome</h3>
            
        {% endif %}
            


        

        <div class="col-sm-3 border-end">


                


            <ul class="list-unstyled">
                <li class="d-grid">


                    {% if request.path == '/passwordchange/' %}

                    <a href="{% url 'profile' %}" class="btn btn-primary">Change Password</a>
                
                     {% endif %}


                     
                     {% if request.path == '/passwordchangedone/' %}
                        
                     <a href="{% url 'profile' %}" class="btn btn-primary">Change password done</a>

                     {% endif %}
                         



                </li>
            </ul>

        </div>
        
        
        <div class="col-sm-6 offset-sm-1">


            
            {% if request.path == '/passwordchange/' %}


            <h3>Change Password</h3>

            
            <form action="" novalidate class="shadow-sm p-5" method="post">
            {% csrf_token %}
            
            
            {% for fm in form %}

            <div class="form-group">
                {{fm.label_tag}}{{fm}}
                <small class="text-danger">
                    {{fm.errors|striptags}}
                </small>
                <br>
            </div>
                
            {% endfor %}

            <input type="submit" value="Submit" class="btn btn-primary mt-4">


            
            {% if form.non_field_errors %}
                
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %}
                    
                
            {% endif %}
                

        </form>

                
        {% endif %}
                

         
        {% if request.path == '/passwordchangedone/' %}
             
         <h3>Password changed succesfully</h3>

        {% endif %}
                


                

        </div>


    </div>
</div>

    
{% endblock main-content %}
    
    