{% extends 'app/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}




<div class="container my-5">
 <div id="profileitems" class="row">



  <h3>Welcome {{request.user}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">

    
    
    
    <li class="d-grid">
        <a id="profbtn" href="#" class="btn btn-primary">Profile</a>
    </li>
      <li class="d-grid">
        <a id="addbtn"  href="#" class="btn ">Address</a>
    </li>
  




   </ul>
  </div>


  <div class="col-sm-9 offset-sm-1">

    
  

   <form action="" method="post">
    {% csrf_token %}

    
    {% for fm in form %}
      <div class="form-group col-lg-6 mb-3">
        {{fm.label_tag}} {{fm}} 
        <small class="text-danger">
          {{fm.errors|striptags}}
      </small>
      </div>
    {% endfor %}
    <div id="adsubmitbtn" class="col-12 mt-3">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    {% if form.non_field_errors %}
                        
    {% for error in form.non_field_errors %}
    <p class="alert alert-danger my-3">{{error}}</p>
    {% endfor %}
    {% endif %}


   </form>

   
   {% if messages %}
      
      {% for message in messages %}
         <p 
         {% if messages.tags %}
           class="alert alert-{{message.tags}} mb-5"
         {% endif %}>{{message}}</p>
      {% endfor %}
        
   {% endif %}


 


  </div>




 </div>
</div>

<!-- <script type="text/javascript">

  // window.onload = function(){
  
  //   console.log("working")
  
  //   $.ajax({
  //     type:"GET",
  //     url:"/checkdef",
  //     success:function(data){
  //             console.log("from the profile")
  //             $(".setdefad").show()
  //             $("#nm"+data.defaultid).hide()
              
  //         }
  
  //   })
  
  // }





  
  </script> -->





{% endblock main-content %}